<paper-fab icon="social:person-add" id="invite" data-toggle="modal" data-target="#invite_modal" ng-hide="channel"></paper-fab>

<div id="chessboard" ng-show="channel">
  <div class="center {{color}}">
     <div class="column pull-left" ng-repeat="(key, column) in board" ng-model="column">
          <div ng-repeat="row in column" ng-click="selectPiece(key+row)" ng-model="row" class="{{chess.get(key+row).color}} text-center {{_.contains(moves, key+row)?'valid':'invalid'}} square {{chess.square_color(key+row)}}" data-square="{{key+row}}">
               <span class='piece' data-color="{{chess.get(key+row).color}}" data-type="{{chess.get(key+row).color}}" ng-bind-html="chess.symbols[chess.get(key+row).color][chess.get(key+row).type]">
               </span>
          </div>
     </div>
  <span class='piece' ng-bind-html="chess.symbols[chess.turn()]['k']"></span>
  </div>
  {{moves}}

</div>
<video muted ng-src="{{stream}}" autoplay height="400px"></video>


<!-- <video muted ng-src="{{local_stream}}" autoplay></video> -->




<!-- <button class="btn btn-primary" data-toggle="modal" data-target="#invite" ng-show="!connection && im_host">Invite a friend</button> -->

<div class="modal fade" id="invite_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Invite a friend</h4>
      </div>
      <div class="modal-body">
        <paper-input label="Email a friend" ng-model="email" floatingLabel="true"></paper-input>
        <a target="_blank" href="mailto:{{email}}?subject={{invite_subject}}&body={{invite_body}}">
          <paper-button label="Send Invite"></paper-button>
        </a>
        or send them this link: {{invite_body}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
