<div id="chessboard">
  <div class="pull-left {{color}}">
     <div class="column pull-left" ng-repeat="(key, column) in board" ng-model="column">
          <div ng-repeat="row in column" ng-click="selectPiece(key+row)" ng-model="row" class="{{chess.get(key+row).color}} text-center {{_.contains(moves, key+row)?'valid':'invalid'}} square {{chess.square_color(key+row)}}" data-square="{{key+row}}">
               <span class='piece' data-color="{{chess.get(key+row).color}}" data-type="{{chess.get(key+row).color}}" ng-bind-html="chess.symbols[chess.get(key+row).color][chess.get(key+row).type]">
               </span>
          </div>
     </div>
  </div>
  {{moves}}
  <span class='piece' ng-bind-html="chess.symbols[chess.turn()]['k']"></span>
</div>
<button class="btn btn-primary" ng-click="startVideoChat()">Chat!</button>
<video muted ng-src="{{local_stream}}" autoplay></video>
<video ng-src="{{stream}}" autoplay></video>

<button class="btn btn-primary" data-toggle="modal" data-target="#invite" ng-show="!connection && im_host">Join Game</button>

<div class="modal fade" id="invite">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Invite a friend</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <input class="form-control" type="text" ng-model="email"/>
          <a href="mailto:{{email}}?subject={{invite_subject}}&body={{invite_body}}" class="btn btn-primary">Join</a>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
